@import url('https://fonts.googleapis.com/css2?family=Anton&family=Corben&family=Dosis:wght@600&family=Open+Sans:wght@500&family=Poppins&family=Roboto&display=swap');
:root {
    --cellSize: min(calc(min(100vh, 100vw) / 10*0.9),60px);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    user-select: none;
}
body {
    background-color: rgb(128,128,128);    
    overflow-x: hidden;
}

/* ---- inputs ---- */
.inputWrapper {
    position: fixed;
    top:50px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(0,50,100);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    text-align: center;
}
.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    text-align: center;
}
.name1Input {
    text-align: center;
}
.battleButton {
    padding: 5px 15px;
    margin-top: 15px;
}

/* ---- Board ---- */
.containerWrapper {
    position:absolute;
    top:100px;
    left:0;
    width: 100vw;
    /* height: 100vh; */
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.applyAnimation {
    --timer: 4s;
    animation: fadeIn var(--timer) ease;
    -webkit-animation: fadeIn ease var(--timer);
    -moz-animation: fadeIn ease var(--timer);
    -o-animation: fadeIn ease var(--timer);
    -ms-animation: fadeIn ease var(--timer);
}
 @keyframes fadeIn {
    0% {opacity: 0;}
    30% {opacity:1;}
    90% {opacity: 0;}
    100% {opacity: 0;}
  }
  
   @-moz-keyframes fadeIn {
    0% {opacity: 0;}
    30% {opacity:1;}
    90% {opacity: 0;}
    100% {opacity: 0;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    30% {opacity:1;}
    90% {opacity: 0;}
    100% {opacity: 0;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity: 0;}
    30% {opacity:1;}
    90% {opacity: 0;}
    100% {opacity: 0;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity: 0;}
    30% {opacity:1;}
    90% {opacity: 0;}
    100% {opacity: 0;}
}
.board1Wrapper, .board2Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.board1Name, .board2Name {
    background-color: aliceblue;
    padding: 10px 20px 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.board1, .board2 {
    display: grid; 
    grid-template-columns: repeat(10, var(--cellSize));
    grid-template-rows: repeat(10, var(--cellSize));
    /* background-color: rgb(127, 157, 192); */
    /* background: radial-gradient(rgb(108, 130, 172), rgb(67, 106, 179)); */
    border: 1px solid black;
    position: relative;
}
.boardCell {
    outline: 1px solid rgb(54, 54, 54);
    
    font-size: small;
    background-size: 100%;
    background: radial-gradient(rgb(108, 130, 172), rgb(67, 106, 179));
}
.boardCellRelative {
    position: relative;
}
.shipsToPlaceWrapper {
    position:absolute;
    top:30px;
    left:0;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(2px);
    border: 1px solid rgb(0,50,100);
    padding: 5px 0;
    border-radius: 5px;
}
.shipsToPlaceWrapperAI {
    position:fixed;
    visibility: hidden;
}
.shipyardWrapper {
    position: relative;
}
.shipyardhidden {
    transform-origin: top right;
    transform: translateX(-50vw);
    
}
.handleMenu {
    padding: 5px 15px;
    border-radius: 5px;
}

.placeShip {
    background-color: aquamarine;
    border: 1px solid black;
    transform-origin: top left;
    margin:1px;
    border-radius: 5px;
    overflow: hidden;
    
}
.shipAIHidden {
    visibility: hidden;
}
.placeShipHover {
    cursor: pointer;
}

.shipSelected {
    outline: 3px solid rgb(0,50,100);
}
.hide {
    opacity: 0;
}
.dragoverRefused{
    outline: 1px solid red;
    background-color: rgb(255, 123, 123);
}
.dragoverRefused::after{
    content: "X";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color:red;
}
.dragoverAccepted{
    outline: 2px solid green;
    background-color: green;
}
.shipImg {
    width:100%;
    height: 100%;
}
.ship1{
    width:var(--cellSize);
    height:var(--cellSize);
}
.ship2 {
    width: calc(var(--cellSize) * 2);
    height:var(--cellSize);
}
.ship3 {
    width: calc(var(--cellSize) * 3);
    height:var(--cellSize);
}
.ship4{
    width: calc(var(--cellSize) * 4);
    height:var(--cellSize);
}
.shipAbs {
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
}
.rotate {
    transform: rotate(90deg) translateY(calc(var(--cellSize) * -1));
}
.shipLocked {
    border: 3px solid rgb(0,50,100);
    border-radius: 5px;
}
.targetCursor {
    cursor: url(assets/crosshair.svg), auto;
}


.explosionDiv {
    position: absolute;
    top:0;
    left:0;
}
.explosionImg {
    width: var(--cellSize);
    height: var(--cellSize);
}
.sprite {
    position:absolute;
    top:0;
    left:0;
    z-index: 2;
    animation: boom 0.4s linear;

}
@keyframes boom {
    0% { transform: scale(0);}
    70% {transform: scale(1.4);}
    100% {transform: scale(1);}

}
.spriteImg {
    width: 100%;
    height: 100%;
}
.hint {
    outline:2px solid green;
}
.hint:hover {
    outline: 1px solid black;
}
.shipsunk {
    --timer: 0.4s;
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: var(--timer);
    animation-duration: var(--timer);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    overflow: visible;;
}
@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }}
@keyframes hvr-pulse-grow {
to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}}

/* ---- Place ships ---- */
.placeShips  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.checkbox {
    margin: 5px;
}
/* ---- ready to attack ---- */
.wrapper {
    position: fixed;
    top:50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    background-color: rgb(61, 78, 105);
    border-radius: 5px;
    min-width: 250px;
    color:white;
    text-align: center;
    z-index:4;
}
.readyDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}
.explanation {
    font-size: 25px;
}
.okbutton {
    cursor: pointer;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 15px;
    /* width: fit-content; */
}


/* ---- Additional info ---- */
.additionalInfo {
    position:fixed;
    top:0;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    background-color: rgb(168, 168, 168);
    width: 25%;
    min-width: 300px;
    min-height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 5px rgb(48, 51, 54);
}
.stateText {
    text-align: center;
    margin: 15px;
    min-height: 2ch;
}
/* ---- Game over ---- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
    z-index: 3;
}
.attribution {
    margin: 15px 0 30px;
}

/* ---- Mobile version ---- */
@media (max-width: 500px) {

}
@media (hover: hover) {
    .placeShipHover:hover {
        border: 2px solid cyan;
    }
    .okbutton:hover {
        background-color: white;
        color:rgb(61, 78, 105);
    }
    .board2 .boardCell:hover:not(.hit):not(.missed){
        background-color: rgb(38, 160, 48);
    }
}